.imgContenedor {
  width: 100%;
  height: 100%;
}

.icoInfo {
  width: 3rem;
  height: 3rem;
}

.espacioBlanco {
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
}

.flexContenedor {
  display: flex;
}

.fondoMain {
  background-color: $colorGrisClaro;
}

.seccionesPad {
  padding: 3rem 1rem;
}

.titPrincipal {
  div {
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.animacionInicial {
  opacity: 0;
  transform: translateY(3rem);
}

.cargar {
  animation: carga ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.aProductos img:last-child {
  display: none;
}

.aProductos:hover img:last-child {
  display: inherit;
}

.aProductos:hover img:first-child {
  display: none;
}

.datosContacto2 {
  display: flex;
  align-items: center;
}

.tarjetaInfo {
  padding: 2rem;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $colorGrisAzu;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  .txtInfo {
    font-size: 1.1rem;
  }
}

.promo {
  position: relative;
  width: 300px;
  .promoPorcentaje {
    position: absolute;
    top: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: $colorRojo;
    font-size: 1.5rem;
    padding-left: 0.8rem;
    padding-top: 1rem;
  }
  .promoArticulo {
    font-family: $fuente;
    font-size: 1.2rem;
    color: $colorAzulOsc;
  }
}
