$celesteFondoEnc: #14549a;
$colorGris: #cecece;
$colorRojo: #ff0000;
$colorCelesteCla: #d2e6f9;
$colorGrisAzu: #566f8e;
$colorAzulOsc: #0e3969;
$color-CelesteMed: #006899;
$colorBlanco: #fff;
$fuente: "Roboto Condensed", sans-serif;
