$celesteFondoEnc: #14549a;
$colorFondoGris: #f2f2f2;
$colorGris: #cecece;
$colorGrisMed: #868383;
$colorGrisClaro: #eceaea;
$colorGrisAni: #cdcdcd;
$colorRojo: #ff0000;
$colorRojoAni: #d70000;
$colorCelesteCla: #d2e6f9;
$colorGrisAzu: #566f8e;
$colorAzulOsc: #0e3969;
$colorAzulAni: #103d6d;
$color-CelesteMed: #006899;
$colorBlanco: #fff;
$fuente: "Roboto Condensed", sans-serif;
